<!DOCTYPE html>
<html lang=“en”>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SheShop</title>
    <meta name="keywords" content="HTML5 Template">
    <!-- <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes"> -->
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/icons/site.html">
    <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/skins/skin-demo-9.css">
    <link rel="stylesheet" href="/assets/css/demos/demo-9.css">
    <style>
        /* Center the modal */
        .alert-modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
            justify-content: center;
            align-items: center;
            z-index: 10000;
        }

        /* Modal content */
        .alert-modal .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 30%;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            animation: fadeIn 0.3s ease-in-out;
        }

        /* Close button */
        .alert-modal .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .alert-modal .close:hover,
        .alert-modal .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        /* Alert icon */
        .alert-icon {
            font-size: 40px;
            color: #b37e56;
            margin-right: 20px;
        }

        /* Alert message */
        .alert-message {
            flex-grow: 1;
        }

        .alert-message h3 {
            color: #b37e56;
            font-size: 24px;
            margin-bottom: 10px;
        }

        .alert-message p {
            color: #333;
            font-size: 16px;
            line-height: 1.5;
        }

        /* OK Button */
        .alert-modal #okBtn {
            display: block;
            margin: 20px auto 0;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            background-color: #b37e56;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .alert-modal #okBtn:hover {
            background-color: #c0392b;
        }

        .alert-modal #okBtn i {
            margin-left: 10px;
        }

        /* Cute animation */
        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(-20px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .stock-alert {

            font-size: 12px;
            white-space: nowrap;
            /* display: inline-block; */
            line-height: 0;
            /* text-align: left; */

        }
    </style>
</head>

<body>
    <div class="page-wrapper">
        <header class="header header-6 ">

            <div class="header-middle">
                <div class="container">

                    <div class="header-center">
                        <a href="/home" class="logo">
                            <img src="/images/She Shop.png" alt="Sheshop" width="205" height="70">
                        </a>
                    </div><!-- End .header-left -->


                </div><!-- End .container -->
            </div><!-- End .header-middle -->


        </header><!-- End .header -->

        <main class="main">

            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="cart">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9">
                                <table class="table table-cart table-mobile">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        <% cart?.forEach(product=> { %>
                                            <tr>
                                                <td class="product-col">
                                                    <div class="product">
                                                        <figure class="product-media">
                                                            <a href="#">
                                                                <img src="/uploads/product-images/<%=product.image[0]%>"
                                                                    alt="Product image">
                                                            </a>
                                                        </figure>

                                                        <h3 class="product-title">
                                                            <a href="#">
                                                                <%= product?.name %>
                                                            </a>
                                                        </h3><!-- End .product-title -->
                                                    </div><!-- End .product -->
                                                </td>
                                                <td class="total-col price" data-unitPrice="<%= product?.price %>">$<%= product?.price %>
                                                </td>
                                                <td class="quantity-col">
                                                    <div class="cart-product-quantity">
                                                        <input type="number" class="form-control productquantity"
                                                            value="<%= product?.quantity  %>" min="1" step="1"
                                                            max="<%=(product?.volume >0 && product?.volume < product?.productcount) ?(product?.volume):((product?.quantity)+(product?.productcount)) %>"
                                                            data-decimals="0" data-product-id="<%= product?._id %>"
                                                            required>
                                                        <% if (product?.productcount < 10 ) { if( product?.productcount>
                                                            0 ){ %>
                                                            <span class="ratings-text stock-alert span-left">
                                                                <%=product?.productcount%> more item left..!
                                                            </span>
                                                            <%}else{%>
                                                                <span class="ratings-text stock-alert" style="font: size 8px;">No more items left.!</span>

                                                                <%}%>
                                                                    <%}else{if(product?.volume >0 && product?.volume < product?.productcount){%>
                                                                        <span class="ratings-text stock-alert"
                                                                            style="font: size 8px;">max
                                                                            <%=product?.volume%> per order
                                                                        </span>
                                                                        <%}%>

                                                                        <%}%>
                                                    </div><!-- End .cart-product-quantity -->
                                                </td>
                                                <td class="total-col totalprice">$<%= product?.totalAmount %>
                                                </td>
                                                <td class="remove-col">
                                                    <button class="btn-remove"
                                                        onclick="removeProduct('<%= product?._id %>')">X</button>
                                                </td>
                                            </tr>
                                            <% }); %>


                                    </tbody>
                                </table><!-- End .table table-wishlist -->

                                <div class="cart-bottom">
                                   
                                    <a class="btn btn-outline-dark-2" onclick="updateCart()"><span>UPDATE CART</span><i
                                            class="icon-refresh"></i></a>
                                </div><!-- End .cart-bottom -->
                            </div><!-- End .col-lg-9 -->
                            <aside class="col-lg-3">
                                <%if(cart?.length>0){%>

                                    <div class="summary summary-cart">
                                        <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

                                        <table class="table table-summary">
                                            <tbody>
                                                <tr class="summary-subtotal">
                                                    <td>Subtotal:</td>
                                                    <td id="overall-total">$<%=subtotal%>
                                                    </td>
                                                </tr><!-- End .summary-subtotal -->
                                                <tr class="summary-shipping">
                                                    <td>Shipping:</td>
                                                    <td>&nbsp;</td>
                                                </tr>

                                                <tr class="summary-shipping-row">
                                                    <td>
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" id="free-shipping" name="shipping"
                                                                class="custom-control-input" checked disabled>
                                                            <label class="custom-control-label"
                                                                for="free-shipping">Shipping Ch</label>
                                                        </div><!-- End .custom-control -->
                                                    </td>
                                                    <td id="shipping">$<%=shippingcharge%>
                                                    </td>
                                                </tr><!-- End .summary-shipping-row -->

                                                <tr class="summary-total">
                                                    <td>Total:</td>
                                                    <td id="totalwithshipping">$<%=totalpayment%>
                                                    </td>
                                                </tr><!-- End .summary-total -->
                                            </tbody>
                                        </table><!-- End .table table-summary -->

                                        <a href="#" onclick="updateCartAndProceed()"
                                            class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO
                                            CHECKOUT</a>
                                    </div><!-- End .summary -->
                                    <%}else{%>


                                        <div class="summary summary-cart">
                                            <h3 class="summary-title text-center">No Product are added..!</h3>
                                            <!-- End .summary-title -->
                                        </div>
                                        <%}%>

                                            <a href="/products"
                                                class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE
                                                    SHOPPING</span><i class="icon-refresh"></i></a>
                            </aside><!-- End .col-lg-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .cart -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->



        <footer class="footer footer-2 ">
            <div class="footer-bottom bg-footer">
                <div class="container bg-footer">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="widget widget-about">
                                <img src="/images/logo.png" class="footer-logo" alt="Footer Logo" width="200"
                                    height="150">
                                <p>With our user-friendly website, shopping for your favorite beauty products is a
                                    breeze. Explore our comprehensive range, read expert tips and tutorials, and shop
                                    with confidence knowing that each product is carefully selected for its quality and
                                    performance.</p>

                                <div class="widget-about-info">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <span class="widget-about-title">Got Question? Call us 24/7</span>
                                            <a href="tel:123456789">+0123 456 789</a>
                                        </div><!-- End .col-sm-6 -->
                                        <div class="col-sm-6 col-md-8">
                                            <span class="widget-about-title">Payment Method</span>
                                            <figure class="footer-payments">
                                                <img src="/assets/images/payments.png" alt="Payment methods" width="272"
                                                    height="20">
                                            </figure><!-- End .footer-payments -->
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .widget-about-info -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-12 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Information</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">About SheShop</a></li>
                                    <li><a href="#">How to shop on SheShop</a></li>

                                    <li><a href="#">Contact us</a></li>
                                    <li><a href="#">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Sign In</a></li>
                                    <li><a href="#">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-64 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2024 Sheshop. All Rights Reserved.</p>
                    <!-- End .footer-copyright -->
                    >

                    <div class="social-icons social-icons-color">
                        <span class="social-label">Social Media</span>
                        <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i
                                class="icon-facebook-f"></i></a>
                        <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i
                                class="icon-twitter"></i></a>
                        <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i
                                class="icon-instagram"></i></a>
                    </div><!-- End .soial-icons -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->

    </div><!-- End .page-wrapper -->


    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div id="alertmodal" class="modal alert-modal">
        <div class="modal-content">
            <span id="closeBtnalert" class="close" onclick="closeModal()">&times;</span>
            <div class="alert-icon">
                <i class="fas fa-exclamation-circle"></i>
            </div>
            <div class="alert-message">
                <h3 id="modal-title" style="text-align: center;">SheShop Alert</h3>
                <p id="modal-message" style="text-align: center;"></p>
            </div>
            <button id="okBtn" class="btn btn-outline-primary-2 close" type="button" style="display: none;">
                <span>OK</span>
                <i class="icon-long-arrow-right"></i>
            </button>

        </div>
    </div>



    <script>
        const errorMessage = document.getElementById('alertmodal');
        const inputFields = document.querySelectorAll('.productquantity');

inputFields.forEach((input) => {
    input.addEventListener('input', (e) => {
        const currentValue = parseInt(e.target.value, 10);
        const maxCount = parseInt(e.target.max, 10);
        const productId = e.target.dataset.productId;
        const countSpan = e.target.parentNode.querySelector('.span-left');
        const priceElement = e.target.closest('tr').querySelector('.price');
        const totalpriceElement = e.target.closest('tr').querySelector('.totalprice');

        const unitPrice = parseFloat(priceElement.dataset.unitprice);
        const newTotalPrice = (unitPrice * currentValue).toFixed(2);
        totalpriceElement.textContent = `$${newTotalPrice}`;
        console.log("priceElement",priceElement,totalpriceElement,unitPrice,newTotalPrice)


        const newCount = maxCount - currentValue;
        console.log("newCount = maxCount - currentValue",newCount,maxCount,currentValue)
        if (countSpan === null || countSpan === undefined) {
            console.error('countSpan is null or undefined');
            updateOverallTotal();
            return;
        }
        if(newCount===0){
            countSpan.textContent = `No more items left`;

        }
        else{
        countSpan.textContent = `${newCount} more left..`;
        }
       
        
        updateOverallTotal();

    });
});
function updateOverallTotal() {
    let overallTotal = 0;
    document.querySelectorAll('.totalprice').forEach((totalCol) => {
        const totalPrice = parseFloat(totalCol.textContent.replace('$', ''));
        overallTotal += totalPrice;
    });
    document.querySelector('#overall-total').textContent = `$${overallTotal.toFixed(2)}`;
   const shipping= document.querySelector('#shipping')
  const aftershipping=parseFloat(shipping.textContent.replace('$', ''))+overallTotal;

    document.querySelector('#totalwithshipping').textContent = `$${aftershipping.toFixed(2)}`;
}

        function removeProduct(productId) {
            // Send an AJAX request to remove the product
            fetch('/cart/removeProduct', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ productId: productId })
            })
                .then(response => {
                    if (response.ok) {
                        console.log(response);
                        location.reload();
                    } else {
                        console.error('Failed to remove product');
                    }
                })
                .catch(error => {
                    console.error('Error removing product:', error);
                });
        }

        function updateCart() {
            const updatedCart = [];
            console.log("in update cart")

            document.querySelectorAll('.cart-product-quantity input').forEach(input => {
                if (typeof input.dataset.productId !== 'undefined' && input.value) {
                    updatedCart.push({
                        productid: input.dataset.productId,
                        quantity: input.value
                    });
                }
            });
            // Send an AJAX request to remove the product
            fetch('/cart/update', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ updatedCart: updatedCart })
            })
                .then(response => {
                    if (response.ok) {
                        console.log(response);
                        showModal("Cart updated successfully..!")

                    } else {
                        console.error('Failed to update product');
                    }
                })
                .catch(error => {
                    console.error('Error updating product:', error);
                });
        }

        function updateCartAndProceed() {
            const updatedCart = [];

document.querySelectorAll('.cart-product-quantity input').forEach(input => {
    if (typeof input.dataset.productId !== 'undefined' && input.value) {
        updatedCart.push({
            productid: input.dataset.productId,
            quantity: input.value
        });
    }
});
// Send an AJAX request to remove the product
fetch('/cart/update', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json'
    },
    body: JSON.stringify({ updatedCart: updatedCart })
})
    .then(response => {
        if (response.ok) {
            console.log(response);
            window.location.href = "/cart/checkout";

        } else {
            console.error('Failed to update product');
        }
    })
    .catch(error => {
        console.error('Error updating product:', error);
    });               
        }



        function showModal(message) {
            console.log('error msg', errorMessage)
            const modalMessage = document.getElementById('modal-message');
            modalMessage.textContent = message;
            errorMessage.style.display = 'block';
        }

        function closeModal() {
            errorMessage.style.display = 'none';
            window.location.reload();

        }
    </script>
    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/assets/js/jquery.plugin.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/jquery.countdown.min.js"></script>
    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/demos/demo-9.js"></script>
</body>


<!-- molla/index-9.html  22 Nov 2019 09:58:03 GMT -->

</html>