<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/admin_panel.css">
    <title>SheShop</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
        /* Coupon List Styles */
.coupon-list {
    color: black;
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.coupon-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.coupon-header h3 {
  font-weight: bold;
  margin: 0;
}

.add-coupon-btn {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.add-coupon-btn:hover {
  background-color: #3e8e41;
}

.coupon-list-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.coupon-item {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.coupon-item h4 {
  font-weight: bold;
  margin: 0;
}

.coupon-item p {
  margin-bottom: 10px;
}

.remove-coupon-btn {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.remove-coupon-btn:hover {
  background-color: #c0392b;
}
.modal {
    display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}


    /* Modal content box */
    .modal-content {
        position: relative;
  background-color:  #dad4c6;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}


    /* Close button */
    .close {
        color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
  text-decoration: none;
  cursor: pointer;
}

    /* Form styles */
    .modal-body form {
        width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


    .modal-body label {
        position: relative;
  font-weight: bold;
  margin-bottom: 5px;
}

    .modal-body input {
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 100%;
      box-sizing: border-box;
    }

    .add-coupon-btn {
      padding: 10px 20px;
      border: none;
      background-color: #4CAF50;
      color: white;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s;
    }

    .add-coupon-btn:hover {
        background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
    }
  .boldLetter{
    font-weight: 800;
  }
  .lightLetter{
    font-weight: 600;
    color: #b37e56;
  }
  .pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
}

/* Pagination links */
.pagination a, .pagination span {
  color: #b37e56;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

/* Current page */
.pagination span {
  background-color: #3e8e41;
}

/* Hover effect */
.pagination a:hover {
  background-color: #45a049;
}

/* Disabled links */
.pagination a.disabled {
  color: #ddd;
  pointer-events: none;
}
    </style>
</head>

<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <a href="#" class="logo">
          <div c><img src="/images/logo.png" class="centered-image"  alt="SheShop"></div>
         </a>
        <ul class="side-menu">
            <li ><a href="/admin/dashboard"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
            <li><a href="/admin/orders"><i class='bx bx-list-ul'></i>Orders</a></li>
            <li ><a href="/admin/products"><i class='bx bx-store-alt'></i></i>Products</a></li>
            <li><a href="/admin/categories"><i class='bx bx-category-alt' ></i>Categories</a></li>
            <li><a href="/admin/brands"><i class='bx bx-store-alt' ></i>Brands</a></li>            <li><a href="/admin/customers"><i class='bx bx-group'></i>Customers</a></li>
            <li><a href="/admin/reports"><i class='bx bxs-report' ></i>Reports</a></li>
            <li class="active"><a href="/admin/Coupons"><i class='bx bxs-offer'></i>Coupons</a></li>
            
        </ul>
        <ul class="side-menu">
            <li>
                <a href="/logout" class="logout"  >
                    <i class='bx bx-log-out-circle'></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form style="display:none" action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">12</span>
            </a>
            <a href="#" class="profile">
                <h4>f</h4>
                <h4>farzana shaneez</h4>
            </a>
          
        </nav>

        <!-- End of Navbar -->

        <main>
            <div class="header">
                <div class="left">
                    <h1>Coupons</h1>
                    <ul class="breadcrumb">
                        <li><a href="#">
                                admin
                            </a></li>
                       <li>/</li> 
                        <li><a href="#" class="active">Coupons</a></li>
                    </ul>
                </div>
               
            </div>

           
            <div class="bottom-data" >
                <div class="Coupons"style="width:100%">
                    <div class="header">
                        <i class='bx bx-receipt'></i>
                        <h3>Add /Remove coupons</h3>
                        <i class='bx bx-filter'></i>
                        <i class='bx bx-search'></i>
                    </div>
                    <div class="coupon-list" style="background-color: rgb(239, 236, 227);">
                        <div class="coupon-header">
                          <h3>Coupons</h3>
                          <button class="add-coupon-btn" data-toggle="modal" data-target="#add-coupon-modal">Add Coupon</button>

                        </div>
                        
                        <ul class="coupon-list-items">
                          <!-- Coupon List Items -->
                          <% coupons.forEach(item=> { %>
                          <li class="coupon-item">
                            <h4 class="boldLetter">Coupon Name :<span class="lightLetter" ><%= item.name %></span></h4>
                            <p class="boldLetter">Created On  :<span class="lightLetter" ><%=  new Date(item.createdOn).toLocaleString() %> </span></p>
                            <p class="boldLetter">Expire On  :<span class="lightLetter"> <%=  new Date(item.expireOn).toLocaleString() %></span></p>
                            <p class="boldLetter">Offer Price  : <span class="lightLetter">$<%= item.offerPrice %></span></p>
                            <p class="boldLetter">Minimum Purchase Amount  : <span class="lightLetter">$<%= item.minimumPrice %></span></p>
                            <button class="remove-coupon-btn" data-coupon-id="<%= item._id %>">Remove</button>
                          </li>
                          <% });%>
                         
                          <!-- More Coupon List Items -->
                        </ul>
                        <div class="pagination">
                          <% if (currentPage > 1) { %>
                            <a href="?page=<%= currentPage - 1 %>&limit=<%= limit %>">Previous</a>
                          <% } %>
                        
                          <% for (let i = 1; i <= totalPages; i++) { %>
                            <% if (i === currentPage) { %>
                              <span><%= i %></span>
                            <% } else { %>
                              <a href="?page=<%= i %>&limit=<%= limit %>"><%= i %></a>
                            <% } %>
                          <% } %>
                        
                          <% if (currentPage < totalPages) { %>
                            <a href="?page=<%= currentPage + 1 %>&limit=<%= limit %>">Next</a>
                          <% } %>
                        </div>
                      </div>
                      
                </div>

                

            </div>
            <div id="add-coupon-modal" class="modal">
                <div class="modal-content">
                  <span class="close" data-dismiss="modal">&times;</span>
            <h3>Add Coupon</h3>
            
         
          <div class="modal-body">
            <form class="add-coupon-form" id="add-coupon-formid">
              <label for="coupon-name">Coupon Name:</label>
              <input type="text" id="coupon-name" name="coupon-name"><br><br>
              <!-- <label for="created-on">Created On:</label>
              <input type="date" id="created-on" name="created-on"><br><br> -->
              <label for="expire-on">Expire On:</label>
              <input type="date" id="expire-on" name="expire-on"><br><br>
              <label for="offer-price">Offer Price:</label>
              <input type="number" id="offer-price" name="offer-price"><br><br>
              <label for="minimum-price">Minimum Price:</label>
              <input type="number" id="minimum-price" name="minimum-price"><br><br>
              <!-- <label for="is-list">Is List:</label> -->
              <!-- <input type="checkbox" id="is-list" name="is-list"><br><br> -->
              <button class="add-coupon-btn" type="submit">Add Coupon</button>
            </form>
          </div>
        </div>
        </div>
        </main>
      
    </div>
    
<script>
const API_BASE_URL = `${window.location.protocol}//${window.location.hostname}:${window.location.port}`;
console.log("API_BASE_URL",API_BASE_URL)
    // Get the modal
let addCouponModal = document.getElementById('add-coupon-modal');

// Get the close button
let closeBtn = document.querySelector('.close');

// Add event listener to the close button
closeBtn.addEventListener('click', function() {
  // Close the modal
  addCouponModal.style.display = 'none';
});

// Add event listener to the add coupon button
document.querySelector('.add-coupon-btn').addEventListener('click', function() {
  // Open the modal
  addCouponModal.style.display = 'block';
});

document.getElementById("add-coupon-formid").addEventListener("submit",  function(event) {
    event.preventDefault(); // Prevent default form submission

    // Validate form inputs
    const name = document.getElementById("coupon-name").value;
    //const createdOn = document.getElementById("created-on").value;
    const createdOn = new Date().toLocaleString();

    const expireOn = document.getElementById("expire-on").value;
    const offerPrice = document.getElementById("offer-price").value;
    const minimumPrice = document.getElementById("minimum-price").value;
    // const isList = document.getElementById("is-list").checked;

    if (!name || !createdOn || !expireOn || !offerPrice || !minimumPrice) {
      alert("Please fill in all required fields.");
      return;
    }
    if (Date.parse(expireOn) <= Date.parse(createdOn)) {
      alert("Expiry date must be greater than the todays date.");
      return;
    }

    if (parseFloat(offerPrice) >= parseFloat(minimumPrice)) {
      alert("Offer price must be less than the minimum price.");
      return;
    }

    // Create coupon object
    const coupon = {
      name,
      createdOn,
      expireOn,
      offerPrice,
      minimumPrice
    
    };

    // Submit form data using Fetch API
    fetch(`${API_BASE_URL}/admin/Coupons/addcoupon`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(coupon)
    })
    .then(response => response.json())
    .then(async data => {
     if(data.isValid){
      await Swal.fire({
        title: 'Success!',
        text: data.message,
        icon: 'success',
        confirmButtonText: 'OK'
      }); 
    }
      else{
        await Swal.fire({
        title: 'Success!',
        text: data.message,
        icon: 'success',
        confirmButtonText: 'OK'
      }); 
    }
      window.location.reload();
    })
    .catch(async error => {
      console.error('Error:', error);
     // alert('Failed to add coupon.');
     await Swal.fire({
        title: 'Failed!',
        text: data.message,
        icon: 'error',
        confirmButtonText: 'OK'
      });      
     
    });
  });
  // Add event listener to the remove coupon button
document.querySelectorAll('.remove-coupon-btn').forEach((button) => {
  button.addEventListener('click', (event) => {
    event.preventDefault();

    // Get the coupon ID
    const couponId = button.dataset.couponId;

    // Send a DELETE request to the server
    fetch('/admin/Coupons/removecoupon/' + couponId, {
      method: 'GET',
    })
    .then((response) => response.json())
    .then((data) => {
      if (data.success) {
        // Remove the coupon from the list
        // const couponItem = document.querySelector(`li[data-coupon-id="${couponId}"]`);
        // couponItem.remove();
        alert('removed coupon successfully.');
        window.location.reload();
      } else {
        alert('removed coupon successfully.');
        window.location.reload();
      }
    })
    .catch((error) => {
      console.error('Error:', error);
      alert('Failed to remove coupon.');
    });
  });
});
</script>
    <script src="/javascript/admin_panel.js"></script>
</body>

</html>