<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/admin_panel.css">
    <title>SheShop</title>
    <style>
        .first-letter {
            font-size: 1.5em;
            font-weight: bold;
            color: #fff;
            background-color: #b37e56;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
        }

        .toggle-btn {
            background-color: white;
            color: #e74c3c;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
        }

        .toggle-btn.blocked {
            background-color: white;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #b37e56;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked+.slider {
            background-color: rgb(255, 77, 0);
        }

        input:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked+.slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }

        .toggle-label {
            display: inline;
            text-align: start;
            margin-top: 5px;
            font-size: 14px;
            color: #a46649;
        }

        .pagination {
            display: flex;
            width: 100%;
            justify-content: center;
            background-color: #3e8e41;
            /* Green color */
            padding: 10px;
            border-radius: 5px;
        }

        /* Pagination links */
        .pagination a,
        .pagination span {
            color: white;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }

        /* Current page */
        .pagination span {
            background-color: #b37e56;
        }

        /* Hover effect */
        .pagination a:hover {
            background-color: #45a049;
        }

        /* Disabled links */
        .pagination a.disabled {
            color: #ddd;
            pointer-events: none;
        }
    </style>
</head>

<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <a href="#" class="logo">
            <div c><img src="/images/logo.png" class="centered-image" alt="SheShop"></div>
        </a>
        <ul class="side-menu">
            <li><a href="/admin/dashboard"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
            <li><a href="/admin/orders"><i class='bx bx-list-ul'></i>Orders</a></li>
            <li><a href="/admin/products"><i class='bx bx-store-alt'></i></i>Products</a></li>
            <li><a href="/admin/categories"><i class='bx bx-category-alt'></i>Categories</a></li>
            <li><a href="/admin/brands"><i class='bx bx-store-alt'></i>Brands</a></li>
            <li class="active"><a href="/admin/customers"><i class='bx bx-group'></i>Customers</a></li>
            <li><a href="/admin/reports"><i class='bx bxs-report'></i>Reports</a></li>
            <li><a href="/admin/coupons"><i class='bx bxs-offer'></i>Coupons</a></li>

        </ul>
        <ul class="side-menu">
            <li>
                <a href="/logout" class="logout">
                    <i class='bx bx-log-out-circle'></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form style="display:none" action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">12</span>
            </a>
            <a href="#" class="profile">
                <h4>f</h4>
                <h4>farzana shaneez</h4>
            </a>

        </nav>

        <!-- End of Navbar -->

        <main>
            <div class="header">
                <div class="left">
                    <h1>Customers</h1>
                    <ul class="breadcrumb">
                        <li><a href="#">
                                admin
                            </a></li>
                        <li>/</li>
                        <li><a href="#" class="active">Customers</a></li>
                    </ul>
                </div>

            </div>



            <div class="bottom-data">
                <div class="orders">
                    <div class="header">
                        <i class='bx bx-receipt'></i>
                        <h3>Customers</h3>
                        <i class='bx bx-filter'></i>
                        <i class='bx bx-search'></i>
                    </div>
                    <div class="pagination">
                        <% if (currentPage > 1) { %>
                          <a href="?page=<%= currentPage - 1 %>&limit=<%= limit %>">Previous</a>
                        <% } %>
                      
                        <% for (let i = 1; i <= totalPages; i++) { %>
                          <% if (i === currentPage) { %>
                            <span><%= i %></span>
                          <% } else { %>
                            <a href="?page=<%= i %>&limit=<%= limit %>"><%= i %></a>
                          <% } %>
                        <% } %>
                      
                        <% if (currentPage < totalPages) { %>
                          <a href="?page=<%= currentPage + 1 %>&limit=<%= limit %>">Next</a>
                        <% } %>
                      </div>
                    <table>
                        <thead>
                            <tr>
                                <th>customer name</th>
                                <th>mail id</th>
                                <th>User Access</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach(user=> { %>
                                <tr>
                                    <td>
                                        <h1 class="first-letter">
                                            <%= user.firstname.charAt(0) %>
                                        </h1>
                                        <p>
                                            <%= user.firstname %>
                                        </p>
                                    </td>

                                    <td>
                                        <%= user.email %>
                                    </td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" class="toggle-btn" data-user-id="<%= user._id %>" <%
                                                if (user.isBlock) { %>checked<% } %>>
                                                <span class="slider round"></span>
                                        </label>
                                        <label class="toggle-label" data-user-id="<%= user._id %>">
                                            <% if (user.isBlock) { %>Unblock<% } else { %>Block<% } %>
                                        </label>


                                    </td>
                                </tr>
                                <% }); %>

                        </tbody>
                    </table>
                </div>



            </div>

        </main>

    </div>
    <script>


        function toggleUserStatus(userId) {
            fetch(`/admin/customers/${userId}/toggle-status`, {
                method: 'POST',
            })
                .then(response => response.json())
                .then(data => {
                    const toggleSwitch = document.querySelector(`input[data-user-id="${userId}"]`);
                    const toggleLabel = document.querySelector(`label.toggle-label[data-user-id="${userId}"]`);
                    const slider = toggleSwitch.nextElementSibling;

                    if (data.isBlock) {
                        toggleSwitch.checked = true;
                        toggleLabel.textContent = 'Unblock';
                        slider.classList.add('slider-on');
                    } else {
                        toggleSwitch.checked = false;
                        toggleLabel.textContent = 'Block';
                        slider.classList.remove('slider-on');
                    }
                })
                .catch(error => {
                    console.error('Error toggling user status:', error);
                });
        }

        document.querySelectorAll('.toggle-btn').forEach(toggleSwitch => {
            toggleSwitch.addEventListener('change', () => {
                const userId = toggleSwitch.dataset.userId;
                toggleUserStatus(userId);
            });
        });

    </script>
    <script src="/javascript/admin_panel.js"></script>
</body>

</html>