<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/admin_panel.css">

    <title>SheShop</title>

    <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            /* overflow: auto; */
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            position: relative;
            background-color: #dad4c6;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
        }

        .close-button {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close-button:hover,
        .close-button:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .offer-Form {
            width: 100%;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
        }

        .offer-Form label {
            position: relative;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .offer-Form input[type="number"],
        .offer-Form select {
            position: relative;
            width: 100%;
            height: 60%;
            padding: 10px;
            border: 1px solid #ccc;
            margin-bottom: 20px;
        }

        .offer-Form button[type="submit"] {
            background-color: #4CAF50;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .offer-Form button[type="submit"]:hover {
            background-color: #3e8e41;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <a href="#" class="logo">
            <div c><img src="/images/logo.png" class="centered-image" alt="SheShop"></div>
        </a>
        <ul class="side-menu">
            <li><a href="/admin/dashboard"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
            <li><a href="/admin/orders"><i class='bx bx-list-ul'></i>Orders</a></li>
            <li class="active"><a href="/admin/products"><i class='bx bx-store-alt'></i></i>Products</a></li>
            <li><a href="/admin/categories"><i class='bx bx-category-alt'></i>Categories</a></li>
            <li><a href="/admin/brands"><i class='bx bx-store-alt'></i>Brands</a></li>
            <li><a href="/admin/customers"><i class='bx bx-group'></i>Customers</a></li>
            <li><a href="/admin/reports"><i class='bx bxs-report'></i>Reports</a></li>
            <li><a href="/admin/coupons"><i class='bx bxs-offer'></i>Coupons</a></li>

        </ul>
        <ul class="side-menu">
            <li>
                <a href="/logout" class="logout">
                    <i class='bx bx-log-out-circle'></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form style="display:none" action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">12</span>
            </a>
            <a href="#" class="profile">
                <h4>f</h4>
                <h4>farzana shaneez</h4>
            </a>

        </nav>

        <!-- End of Navbar -->

        <main>
            <div class="header">
                <div class="left">
                    <h1>Products</h1>
                    <ul class="breadcrumb">
                        <li><a href="#">
                                admin
                            </a></li>
                        <li>/</li>
                        <li><a href="#" class="active">Products</a></li>
                    </ul>
                </div>

            </div>
            <div class="bottom-data">
                <div class="orders">
                    <div class="header">
                        <i class='bx bx-receipt'></i>
                        <h3>Products</h3>
                        <button id="add-offer-btn" style="margin-right: 75px;width: 75px;height: 30px;">Add
                            Offer</button>
                        <i id="plusIconProd" class='bx bx-plus'></i>
                    </div>
                    <table id="categoryTable">
                        <tr>
                            <th>product Image</th>
                            <th>product Name</th>
                            <th>Stock</th>
                            <th>Price</th>
                        </tr>
                        <% products.forEach(product=> { %>
                            <tr class="prodRow" data-id="<%= product._id %>">
                                <td><img src="/uploads/product-images/<%=product.image[0]%>"></td>
                                <td>
                                    <%= product.name %>
                                </td>
                                <td>
                                    <%= product.quantity %>
                                </td>
                                <td>
                                    <%= product.price %>
                                </td>
                            </tr>
                            <% });%>


                    </table>
                </div>
            </div>
            <div class="container popup" id="productDetails" style="display: none;">
                <div class="popup-content">
                    <h2 id="catType">Edit Product</h2>
                    <img id="productImageDisplay" src="/images/logo.png" alt="Product Image">
                    <form id="productForm" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="productName">Product Name:</label>
                            <input type="text" id="productName" name="productName">
                        </div>


                        <div class="form-group">
                            <label for="productImage">Image:</label>
                            <input type="file" id="productImage" name="productImage">
                        </div>
                        <button type="submit">Update</button>
                    </form>
                </div>
            </div>

    </div>
    <!-- Modal -->
    <div id="offerModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h2>Add Offer</h2>
            <form id="offerForm" class="offer-Form">
                <label for="offerPercentage">Offer Percentage:</label>
                <input type="number" id="offerPercentage" name="offerPercentage" min="0" max="50" value="0" required>
                <br>
                <label for="categories">Select Product:</label>
                <select id="offerProducts" name="products" multiple required>
                    <% products.forEach(product=> { %>
                        <option value="<%= product._id %>">
                            <%= product.name %>
                        </option>
                        <% }); %>
                </select>
                <br>
                <button type="submit">Apply Offer</button>
            </form>
        </div>
    </div>
    <script>
        const addOfferButton = document.getElementById('add-offer-btn');
        const modal = document.getElementById('offerModal');
        const closeButton = document.getElementsByClassName('close-button')[0];
        const offerForm = document.getElementById('offerForm');

        addOfferButton.addEventListener('click', function () {
            modal.style.display = 'block';
        });

        closeButton.addEventListener('click', function () {
            modal.style.display = 'none';
        });

        window.addEventListener('click', function (event) {
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        });

        offerForm.addEventListener('submit', function (event) {
            console.log("offerForm called")
            event.preventDefault();
            const offerPercentage = document.getElementById('offerPercentage').value;
            const selectedCategories = document.getElementById('offerProducts').selectedOptions;
            const offerids = Array.from(selectedCategories).map(option => option.value);

            // Send the offer details to the server using AJAX or form submission
            // Example using AJAX:
            fetch('/admin/products/apply-offer', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ offerPercentage, offerids })
            })
                .then(response => response.json())
                .then(async data => {
                    await Swal.fire({
                        title: 'Offer applied',
                        text: 'offer applied successfully',
                        icon: 'success',
                        confirmButtonText: 'OK'
                    });
                    modal.style.display = 'none';
                })
                .catch(error => {
                    // Handle any errors
                    console.error('Error:', error);
                });
        });

    </script>

    <script src="/javascript/admin_panel.js"></script>

</body>

</html>